body {
	background-color: black;
}
.posts {
	background-color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 40px;
}
header {
	    width: calc(70% + 80px);
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 60px;
	position: fixed;
    left: calc(15% - 34px);
    right: calc(15% - 34px);
}